<!doctype html>
<html>
<head>
    <title>DEMO DAY</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg">
<div class="index container">
    <div class="row justify-content-around">
    <div class="card text-white bg-color col-md-6" style="max-width: 50rem;">
        <img src="img/home.png" alt="">
        <h3 class="card-title">Where all can find their place.</h3>
    </div>
    <div class="card text-center bg-light col-md-5" style="max-width: 50rem;">
        <h1 class="text-gradient">DIVERSIFY</h1>


        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-outline-primary btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-outline-warning btn-default"><span class="fa fa-user"></span>Sign Up</a>

    </div>
    </div>


</div>

</body>
</html>
