<%- include('header'); -%>

<%- include('nav'); -%>

<section class="main bg">

  <%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
<div class="col-md-9">
  <div class="still card">
             <h2>JOBS</h2>
             <div class="card-deck card ">
               <div class="card-body">
                 <h4>Top Opportunity for You</h4>
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
               </div>
             </div>
             <div class="card-deck card ">
               <div class="card-body">
                 <h4>Top Opportunity for You</h4>
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
               </div>
             </div>
             <div class="card-deck card ">
               <div class="card-body">
                 <h4>Top Opportunity for You</h4>
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
               </div>
             </div>
             <div class="card-deck card ">
               <div class="card-body">
                 <h4>Top Opportunity for You</h4>
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
               </div>
             </div>
             <div class="card-deck card ">
               <div class="card-body">
                 <h4>Top Opportunity for You</h4>
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">This is a longer card with supporting text below as         a natural lead-in to additional content. This content is a <littl></littl>e   <bi></bi>t   longer.</p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</        small></p>
               </div>
             </div>
        </div>
      </div>


</section>

<%- include('footer'); -%>
