<%- include('header'); -%>

<%- include('nav'); -%>

  <section class="main bg">

    <%- include('sidebar'); -%>
<!-- Display feed: mix of profiles, businesses, opportunities, and discussions -->
<div class="col-md-9">
  <div class="still card">
             <h2>YOUR MESSAGES</h2>
              <ul class="posts">
                <li class="post">
                  <p>NAME</p>
                  <p>TAGS</p>
                  <img id="postImg" src="">
                  <iframe id="postVid" src= "" width="200" height="200"></iframe>
                  <p>ABOUT</p>
                </li>
              </ul>
        </div>
        </div>


  </section>

<%- include('footer'); -%>
